
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Niconne&family=Rancho&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: "Montserrat", sans-serif;
}
.croissant-one-regular {
  font-family: "Croissant One", serif;
  font-weight: 400;
  font-style: normal;
}
.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}
.rancho-regular {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}



.font1{
  font-family: "Croissant One","Montserrat", sans-serif;
}

.font2{
  font-family: "Niconne","Montserrat", sans-serif;
}

.font3{
  font-family: "Rancho","Montserrat", sans-serif;
}

/* body{
  overflow: hidden;
} */

/*navbar*/


.navbar {
  position: fixed;
  top: -60px; /* Hide initially */
  left: 25%; /* Start at 25% from the left */
  width: 50%; /* Cover 50% of the screen width */
  /* background-color: #333;
  color: white; */
  transition: top 0.3s;
  z-index: 1000; /* Ensure it is above other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for better visibility */
  border-radius: 0 0 10px 10px; /* Diagonal edges on both sides */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #e5a1aa;
  text-decoration: none;
  padding: 15px;
  display: block;
}

.navbar a:hover {
  color: #FAF4E5;
  background-color:#e5a1aa;
}


/*general styles*/

h1,
section,
p,
span,
svg{
  transition: background-color 0.5s, color 0.5s;
}

:root{
  /* Light Theme Variables */
  --color-text-light: #333332;
  --color-background-light: #FAF4E5;
  --color-pink-light: #e5a1aa;
  --color-green-light: #7AD0AC;
  --color-blue-light: #8395CD;

  /* Dark Theme Variables */
  --color-text-dark: #FAF4E5;
  --color-background-dark: #8395CD;
}

.light-theme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light);
}

.dark-theme{
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-pink: var(--color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
}

/* Experience --------------------------------------------- */

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}

/* Preloader */
.preloader{
  background-color: var(--color-background-light);
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 999;
}

.preloader-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--color-pink-light);
  animation: load 1s ease-in-out infinite;
}

.circle:nth-child(2){
  animation-delay: 0.1s;
}

.circle:nth-child(3){
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-12px)
  }

  40% {
    transform: translateY(0)
  }
  
}

/* Page Itself --------------------------------------------- */
.page{
  z-index:999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-wrapper{
  position: relative;
}

/* Preloader Stuff */
.animatedis{
  display: inline-block;
  transform: translateY(100%);
}

.intro-text{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text);
  transform: translate(-50%, -50%);
}

.arrow-svg-wrapper{
  position: absolute;
  top: 90%;
  left: 50%;
  opacity: 0;
  color: var(--color-text);
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}

@keyframes bounce {
  0%{
    transform: translateY(0)
  }

  100%{
    transform: translateY(8px)
  }
}

/* Toggle Bar --------------------------------------------- */
.toggle-bar{
  position: fixed;
  display: flex;
  opacity: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 999;
}

.sun-wrapper, 
.moon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.toggle-button{
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle{
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
  transform: scale(0.9);
}

.slide{
  left: 31px;
}

/* Section Formatting --------------------------------------------- */
.section-margin{
  height: 3000px;
  width: 100%;
}

.section{
  position: relative;
  width: 50%;
  padding: 100px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left{
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right{
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

/* Progress bars */
.progress-wrapper{
  height: 0;
  width: 12px;
  z-index: 9999;
}

.progress-bar-wrapper-left{
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right{
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar{
  height: 100vh;
  width: 100%;
  background-color: var(--color-pink);
  transform-origin: top center;
  transform: scaleY(1);
}

/* Sections -------------- */

.section-intro-wrapper{
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-pink);
  padding-bottom: 400px;
}

.section-intro-wrapper:nth-child(3){
  border-bottom: 2px solid var(--color-green);
}

.section-detail-wrapper{
  position: relative;
  padding: 20% 5%;
}

.section-heading{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
  color: var(--color-text);
}

.section-text{
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--color-text);
}

/* Fancy Decoration Part of Section */
.section-title{
  position: relative;
  color: var(--color-pink)
}

.section-title-text{
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
  color: var(--color-pink);
}

.styleOne,
.styleTwo,
.styleThree{
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-pink);
  transform-origin: left;
  transform: skewY(-25deg);
}

.styleOne{
  top: 0px;
}

.styleTwo{
  top: 80px;
}

.styleThree{
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-pink);
}

.section-number{
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-pink);
  font-size: 24px;
}
.itemcard-container {
  display: flex; /* Use flexbox for layout */
  flex-direction: row; 
  align-items: center; /* Center items horizontally */
  gap: 2rem; 
 justify-content: space-around;
}

.itemcard {
  background-color: #f9fafb; /* bg-neutral-50 */
  color: #4b5563; /* text-neutral-600 */
  width: 11rem; /* w-44 */
  height: 11rem; /* h-44 */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  justify-content: center; /* justify-center */
  align-items: center; /* items-center */
  position: relative; /* relative */
  border-radius: 0.75rem; /* rounded-xl */
  overflow: hidden; /* overflow-hidden */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  transition: transform 0.5s; /* duration-500 */
}

.itemcard:hover {
  transform: translateY(-0.5rem); /* hover:-translate-y-2 */
}

.svg-background {
  position: absolute; /* absolute */
  filter: blur(10px); /* blur */
  z-index: 10; /* z-10 */
  fill:var(--color-pink); /* fill-red-300 */
  transition: filter 0.5s, transform 0.5s; /* duration-500 */
}

.itemcard:hover .svg-background {
  filter: blur(0); /* group-hover:blur-none */
  transform: scale(1.05); /* group-hover:scale-105 */
}

.item {
  z-index: 20; /* z-20 */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  justify-content: center; /* justify-center */
  align-items: center; /* items-center */
}

.project-count {
  font-weight: bold; /* font-bold */
  font-size: 3.75rem; /* text-6xl */
  margin-left: 0.5rem; /* ml-2 */
}

.project-label {
  font-weight: bold; /* font-bold */
}


/* Hero section -------------------------------- */

.hero{
  width: 100vw;
  height: 100vh;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main{
  position: absolute;
  bottom: 168px;
  left: 0;
  color: var(--color-text);
}

.hero-second{
  position: absolute;
  top: calc(50% - 120px);
  right: 0;
  color: var(--color-text);
}

.hero-main-title{
  font-size: 64px;
  color: var(--color-text);
}

.hero-main-description{
  font-size: 18px;
  color: var(--color-text);
}

.hero-second-subheading{
  font-size: 32px;
  text-transform: uppercase;
  color: var(--color-text);
}


/* Other colors override */

.blue-text{
  color: var(--color-blue)
}

.blue-border{
  border-color: var(--color-blue);
}

.blue-background{
  background-color: var(--color-blue);
}

.green-text{
  color: var(--color-green)
}

.green-border{
  border-color: var(--color-green);
}

.green-background{
  background-color: var(--color-green);
}


/* Media Queries */

@media (max-width: 968px){
  .section{
    width: 100%;
  }
  .progress-bar-wrapper-left{
    right: 0;
    left: auto;
  }
  .hero-main{
    bottom: 120px;
  }
  .hero-second{
    top: 160px;
  }
  .hero-wrapper{
    width: calc(100% - 60px);
  }
  .hero-main-title{
    font-size: 32px;
  }
  .hero-main-description{
    font-size: 18px;
  }
  .hero-second-subheading{
    font-size: 18px;
  }
}

/********** Image holder **************/
.img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.img-small-container{
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.img-small-container img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: all ease-in-out 0.3s;
}

.img-small-container:hover img{
  transform: scale(1.1);
  filter: grayscale(0);

}

/********** Button **************/

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 8650px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
 /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0;
  padding: 20px;
  border: none;
  width: 80%; /* Give modal content width */
  max-width: 900px; /* Set max-width for modal */
  height: auto;
  box-sizing: border-box;
  margin: auto;
}

/* Close button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Slider styles */
.p_slider {
  position: absolute;
  max-width: 100%;
  margin: auto;
  z-index: 9999;
}

.slides {
  display: flex;
   /* Hide all slides by default */
}

img {
  width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%; /* Center vertically */
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px; /* Rounded corners */
  user-select: none;
  transform: translateY(-50%); /* Center the buttons vertically */
}

.prev {
  left: 20px; /* Position to the left */
}

.next {
  right: 20px; /* Position to the right */
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/**********slider houses*******/
.slider{
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
  );
}
.slider .list{
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item{
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 15s linear infinite; /* Slowed down from 10s to 15s */
  transition: filter 0.5s;
  animation-delay: calc( (15s / var(--quantity)) * (var(--position) - 1) - 15s)!important; /* Adjusted for the new duration */
}
.slider .list .item img{
  width: 100%;
}
@keyframes autoRun{
  from{
      left: 100%;
  }to{
      left: calc(var(--width) * -1);
  }
}
.slider:hover .item{
  animation-play-state: paused!important;
  filter: grayscale(1);
  
}
.slider .item:hover{
  transform: scale(1.05); 
  filter: grayscale(0);
}
.slider[reverse="true"] .item{
  animation: reversePlay 15s linear infinite; /* Slowed down from 10s to 15s */
}
@keyframes reversePlay{
  from{
      left: calc(var(--width) * -1);
  }to{
      left: 100%;
  }
}

/**** social contact card****/
  .main_back {
  position: absolute;
  border-radius: 0;
  transform: rotate(90deg);
  width: 22em; /* Increased width */
  height: 22em; /* Increased height */
  background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
  z-index: -2;
  box-shadow: inset 0px 0px 180px 5px #ffffff;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 28em; /* Increased width */
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px; /* Increased width */
  height: 120px; /* Increased height */
  background: lightgrey;
  transition: 0.4s ease-in-out, 0.2s background-color ease-in-out,
    0.2s background-image ease-in-out;
  background: rgba(255, 255, 255, 0.596);
  backdrop-filter: blur(5px);
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(5px);
  border-radius: 0;
}

.card svg {
  height: 50px; /* Increased icon size */
  width: 50px; /* Increased icon size */
  opacity: 0;
}

.text {
  position: absolute;
  font-size: 1.5em; /* Increased text size */
  transition: 0.2s ease-in-out ; /* Delayed text disappearance */
  color: black;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.33em;
  z-index: 3;
}

.main:hover .main_back {
  opacity: 0;
}

.main:hover .card {
  margin: 0.5em; /* Increased margin */
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.main:hover .card:nth-child(5) {
  border: transparent;
}

.main:hover .text {
  opacity: 0;
  z-index: -3;
}

.main:hover .instagram {
  opacity: 1;
}

.main:hover .twitter {
  opacity: 1;
}

.main:hover .dribble {
  opacity: 1;
}

.main:hover .codepen {
  opacity: 1;
}

.main:hover .uiverse {
  opacity: 1;
}

.main:hover .discord {
  opacity: 1;
}

.main:hover .github {
  opacity: 1;
}

.main:hover .telegram {
  opacity: 1;
}

.main:hover .reddit {
  opacity: 1;
}

.card:nth-child(1):hover {
  background-color: #cc39a4;
}

.card:nth-child(1):hover .instagram {
  fill: white;
}

.card:nth-child(2):hover {
  background-color: #03a9f4;
}

.card:nth-child(2):hover .twitter {
  fill: white;
}

.card:nth-child(3):hover {
  background-color: #ffb5d2;
}

.card:nth-child(3):hover .dribble {
  fill: white;
}

.card:nth-child(4):hover {
  background-color: #1e1f26;
}

.card:nth-child(4):hover .codepen {
  fill: white;
}

.card:nth-child(5):hover {
  animation: backgroundIMG 0.1s;
  animation-fill-mode: forwards;
}

.card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
  stop-color: white;
}

@keyframes backgroundIMG {
  100% {
    background-image: linear-gradient(#bf66ff, #6248ff, #00ddeb);
  }
}

.card:nth-child(6):hover {
  background-color: #8c9eff;
}

.card:nth-child(6):hover .discord {
  fill: white;
}

.card:nth-child(7):hover {
  background-color: black;
}

.card:nth-child(7):hover .github {
  fill: white;
}

.card:nth-child(8):hover {
  background-color: #29b6f6;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(1) {
  fill: white;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(2) {
  fill: #29b6f6;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(3) {
  fill: #29b6f6;
}

.card:nth-child(9):hover {
  background-color: rgb(255, 69, 0);
}

.card:nth-child(9) .reddit > g circle {
  fill: rgb(255, 69, 0);
}

.card:nth-child(9) .reddit > g path {
  fill: white;
}

